@model Final.Models.Alojamiento

@{
    ViewData["Title"] = "Eliminar Alojamiento";
}
@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

@if (TempData["status"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["status"]");
            };
    </script>
}
<h1>Eliminar</h1>

<h3 class="text-warning">@Html.DisplayFor(model => model.Tipo) - @Html.DisplayFor(model => model.aCodigo)</h3>
<div>
    <div>
        <img src="/imagenes/siren32.png" alt="alerta" width="32" height="32" class="mb-2" />
        <h4 class="text-danger d-inline-block mt-1">
            Acción irreversible
        </h4>
        <img src="/imagenes/siren32.png" alt="alerta" width="32" height="32" class="mb-2" />
    </div>
    <div>
        <p class="text-danger d-inline-block mt-1 mb-0">Se eliminarán también todas las reservas asociadas a este alojamiento</p>
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            Código
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.aCodigo)
        </dd>
        <dt class="col-sm-3">
            Ciudad
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.aCiudad)
        </dd>
        <dt class="col-sm-3">
            Barrio
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.aBarrio)
        </dd>
        <dt class="col-sm-3">
            Cantidad de Estrellas
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.aEstrellas)
        </dd>
        <dt class="col-sm-3">
            Cantidad de Personas
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.aCantPersonas)
        </dd>
        <dt class="col-sm-3">
            ¿Tiene TV?
        </dt>
        @if (@Html.DisplayTextFor(model => model.aTV).ToUpper() == "TRUE")
        {
            <dd class="col-sm-7">Sí</dd>
        }
        else
        {
            <dd class="col-sm-7">No</dd>
        }
        <dt class="col-sm-3">
            Tipo
        </dt>
        <dd class="col-sm-7">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        @if (@Html.DisplayTextFor(model => model.Tipo) == "Cabania")
        {
            <dt class="col-sm-3">
                Precio por día
            </dt>
            <dd class="col-sm-7">
                $ @Html.DisplayFor(model => model.cPrecioxDia)
            </dd>
            <dt class="col-sm-3">
                Cantidad de habitaciones
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.cHabitaciones)
            </dd>
            <dt class="col-sm-3">
                Cantidad de baños
            </dt>
            <dd class="col-sm-7">
                @Html.DisplayFor(model => model.cbanios)
            </dd>
        }
        else
        {
            <dt class="col-sm-3">
                Precio por persona
            </dt>
            <dd class="col-sm-7">
                $ @Html.DisplayFor(model => model.hPrecioxPersona)
            </dd>
        }
    </dl>

    <form asp-action="Delete">
        <div class="form-group mt-3">
            <input type="hidden" asp-for="id" />
            <input type="submit" value="Eliminar alojamiento" class="btn btn-danger" />
            <div>
                <a asp-action="Index"><img src="/imagenes/deshacer32flat.png" alt="regresar" width="32" height="32" class="mt-3" /></a>
            </div>
        </div>
    </form>
</div>
